.animate-slide-in-menu {
  animation: slideInMenu 0.5s cubic-bezier(0.4,0,0.2,1);
}
@keyframes slideInMenu {
  from {
    transform: translateX(100%);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} 